In [4]:
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize
from IPython.display import display

def get_taxa_id(species_name):
    
    base_url = "http://api.inaturalist.org/v1/taxa/autocomplete?q="

    
    request = requests.get(base_url + "%20".join(species_name.split()))
    data = request.json()

    ids = []
    for i in data['results']:
        ids.append(i['id'])

    return ids

def get_observation(id_no, month, year):
    #Url builder, for the request
    base_url = "http://api.inaturalist.org/v1/observations?"
    end_url = "&order=desc&order_by=created_at"
    url = base_url + 'taxon_id=' + str(id_no) + '&month=' + str(month) + '&year=' + str(year) + end_url

    request = requests.get(url)
    data = request.json()    

    
    return data
    
        
def get_count_one_month(id_no_lst, month, year):
    
    count = 0
    for i in id_no_lst:
        count += int(get_observation(i, month, year)['total_results'])
    return count
    
    

species = [
    'Danaus plexippus',
    'Hyles lineata',
    'Zerene cesonia',
    'Papilio multicaudata',
    'Agraulis vanillae',
    'Papilio cresphontes',
    'Strymon melinus',
    'Vanessa cardui',
    'Hylephila phyleus',
    'Danaus gilippus'
]

months = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]

def main():
    print('running')
    species_to_id = {}
    indx = ["Danaus plexippus", "Hyles lineata", "Zerene cesonia", "Papilio multicaudata", "Papilio multicaudata", "Papilio cresphontes", "Strymon melinus", "Vanessa cardui", "Hylephila phyleus", "Danaus gilippus"]
    columns = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
    df = pd.DataFrame(index = indx, columns = columns)
    frames = []
    
    
    #Get a dictionary of the taxa -> lst(ids)
    for i in species:
        species_to_id[i] = get_taxa_id(i)
    
    month_map = dict(zip(range(1,13), months))
    
    species_dict_out = {}
    year = 2016
    
    print(species_to_id)
    
    #iterate through the 
    for spec in species_to_id:
        species_dict_out[spec] = {}
        
        for mon in month_map:
            species_dict_out[spec][month_map[mon]] = get_count_one_month(species_to_id[spec], mon, year)
        
        print(species_dict_out[spec])
        #frame = pd.DataFrame(species_dict_out[spec])
        #frames.append(frame) 
        #df.append(list(species_dict_out[spec]))
        frames.append(species_dict_out[spec])
            
        
    #the_dict = pd.DataFrame.from_dict([species_dict_out[spec]])
    print(frames)
    #display(the_dict)
    #display(frames)
    result = json_normalize(frames)
    display(result)
    
    
main()

running
{'Danaus gilippus': [51743, 51748, 50063, 51744, 51746, 51747, 51749], 'Strymon melinus': [50931, 346149, 238732, 238733, 542113, 238734, 238735], 'Papilio multicaudata': [68263, 237647, 148765, 460141, 545972], 'Hyles lineata': [49348, 293806], 'Papilio cresphontes': [50072], 'Hylephila phyleus': [50340, 312192], 'Vanessa cardui': [48548], 'Agraulis vanillae': [49150, 312743, 461059, 416323, 208039, 234216], 'Danaus plexippus': [48662, 235550], 'Zerene cesonia': [129362, 239037, 532836]}
{'April': 23, 'June': 58, 'November': 251, 'July': 93, 'March': 16, 'May': 37, 'January': 18, 'December': 86, 'February': 12, 'August': 130, 'September': 210, 'October': 372}
{'April': 128, 'June': 100, 'November': 29, 'July': 123, 'March': 16, 'May': 99, 'January': 4, 'December': 2, 'February': 29, 'August': 163, 'September': 220, 'October': 241}
{'April': 15, 'June': 40, 'November': 7, 'July': 33, 'March': 7, 'May': 16, 'January': 0, 'December': 4, 'February': 2, 'August': 41, 'September': 37, 'October': 24}
{'April': 59, 'June': 26, 'November': 5, 'July': 67, 'March': 73, 'May': 43, 'January': 1, 'December': 1, 'February': 6, 'August': 70, 'September': 50, 'October': 16}
{'April': 9, 'June': 40, 'November': 12, 'July': 54, 'March': 10, 'May': 18, 'January': 1, 'December': 3, 'February': 5, 'August': 104, 'September': 73, 'October': 76}
{'April': 72, 'June': 117, 'November': 129, 'July': 148, 'March': 43, 'May': 65, 'January': 6, 'December': 17, 'February': 12, 'August': 224, 'September': 292, 'October': 279}
{'April': 61, 'June': 97, 'November': 164, 'July': 121, 'March': 32, 'May': 47, 'January': 12, 'December': 38, 'February': 24, 'August': 86, 'September': 76, 'October': 104}
{'April': 86, 'June': 104, 'November': 395, 'July': 208, 'March': 44, 'May': 92, 'January': 31, 'December': 79, 'February': 33, 'August': 245, 'September': 352, 'October': 705}
{'April': 307, 'June': 226, 'November': 618, 'July': 418, 'March': 283, 'May': 219, 'January': 105, 'December': 288, 'February': 180, 'August': 744, 'September': 986, 'October': 1269}
{'April': 7, 'June': 5, 'November': 109, 'July': 9, 'March': 1, 'May': 5, 'January': 3, 'December': 21, 'February': 1, 'August': 15, 'September': 57, 'October': 91}
[{'April': 23, 'June': 58, 'November': 251, 'July': 93, 'March': 16, 'May': 37, 'January': 18, 'December': 86, 'February': 12, 'August': 130, 'September': 210, 'October': 372}, {'April': 128, 'June': 100, 'November': 29, 'July': 123, 'March': 16, 'May': 99, 'January': 4, 'December': 2, 'February': 29, 'August': 163, 'September': 220, 'October': 241}, {'April': 15, 'June': 40, 'November': 7, 'July': 33, 'March': 7, 'May': 16, 'January': 0, 'December': 4, 'February': 2, 'August': 41, 'September': 37, 'October': 24}, {'April': 59, 'June': 26, 'November': 5, 'July': 67, 'March': 73, 'May': 43, 'January': 1, 'December': 1, 'February': 6, 'August': 70, 'September': 50, 'October': 16}, {'April': 9, 'June': 40, 'November': 12, 'July': 54, 'March': 10, 'May': 18, 'January': 1, 'December': 3, 'February': 5, 'August': 104, 'September': 73, 'October': 76}, {'April': 72, 'June': 117, 'November': 129, 'July': 148, 'March': 43, 'May': 65, 'January': 6, 'December': 17, 'February': 12, 'August': 224, 'September': 292, 'October': 279}, {'April': 61, 'June': 97, 'November': 164, 'July': 121, 'March': 32, 'May': 47, 'January': 12, 'December': 38, 'February': 24, 'August': 86, 'September': 76, 'October': 104}, {'April': 86, 'June': 104, 'November': 395, 'July': 208, 'March': 44, 'May': 92, 'January': 31, 'December': 79, 'February': 33, 'August': 245, 'September': 352, 'October': 705}, {'April': 307, 'June': 226, 'November': 618, 'July': 418, 'March': 283, 'May': 219, 'January': 105, 'December': 288, 'February': 180, 'August': 744, 'September': 986, 'October': 1269}, {'April': 7, 'June': 5, 'November': 109, 'July': 9, 'March': 1, 'May': 5, 'January': 3, 'December': 21, 'February': 1, 'August': 15, 'September': 57, 'October': 91}]

,April,August,December,February,January,July,June,March,May,November,October,September
0,23,130,86,12,18,93,58,16,37,251,372,210
1,128,163,2,29,4,123,100,16,99,29,241,220
2,15,41,4,2,0,33,40,7,16,7,24,37
3,59,70,1,6,1,67,26,73,43,5,16,50
4,9,104,3,5,1,54,40,10,18,12,76,73
5,72,224,17,12,6,148,117,43,65,129,279,292
6,61,86,38,24,12,121,97,32,47,164,104,76
7,86,245,79,33,31,208,104,44,92,395,705,352
8,307,744,288,180,105,418,226,283,219,618,1269,986
9,7,15,21,1,3,9,5,1,5,109,91,57